// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   background-color: #333;
//   color: white;
//   text-align: center;
// }

.footer {
  padding: 0em 0em 0em 0em;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  //   background-color: #333;
  //   color: white;
  align-content: center;
  text-align: center;
  // background-color: #013a6b;
  // background-image: -webkit-linear-gradient(30deg, #013a6b 50%, #004e95 50%);
  background-image: -webkit-linear-gradient(0deg, #333 50%, #2674ce 50%);
}
// #2674ce blue
// #333
#footerBox {
  display: flex;
  padding: 0;
}

#footLeft {
  // color: white;
  color: #338bf0;
  font-size: 0.8em;
}

#footRight {
  // color: white;
  color: #333;
  font-size: 0.8em;
}
