<!-- <ul id="headerBox">
  <div id="titleBox">R O L O D E X</div>
  <div id="linksBox">
    <li>
      <a routerLink="/">Home</a>
    </li>

    <li>
      <a routerLink="user">Your Contacts</a>
    </li>

    <li>
      <a routerLink="user/post">Add Contact</a>
    </li>
  </div>
</ul> -->

<div class="navbar">
  <div id="titleBox">R O L O D E X</div>
  <div id="linksBox">
    <a id="homeLink" routerLink="/">Home <i class="fas fa-home"></i></a>
    <a routerLink="user">Your Contacts <i class="far fa-address-book"></i></a>
    <div class="dropdown" *ngIf="isLoggedIn()">
      <button class="dropbtn">
        Manage Profile
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="user/post"><i class="fas fa-plus"></i> Add Contact</a>
        <a href="#">Link 2</a>
        <!-- <a routerLink="logout">Logout <button (click)="logout()"></button></a> -->
        <button (click)="logout()">Logout</button>
      </div>
    </div>
    <a routerLink="login" *ngIf="!user.loggedIn">Login</a>
  </div>
</div>
