<!-- <ul id="headerBox">
  <div id="titleBox">R O L O D E X</div>
  <div id="linksBox">
    <li>
      <a routerLink="/">Home</a>
    </li>

    <li>
      <a routerLink="user">Your Contacts</a>
    </li>

    <li>
      <a routerLink="user/post">Add Contact</a>
    </li>
  </div>
</ul> -->

<div class="navbar">
  <div id="titleBox">R O L O D E X</div>
  <div id="linkBox">
    <a routerLink="/">Home</a>
    <a routerLink="user">Your Contacts</a>
    <div class="dropdown">
      <button class="dropbtn">
        Manage Contacts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="user/post">Add Contact</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>
