<div id="greetingBox">
  <h3 *ngIf="user.loggedIn" id="greeting">Your Contacts</h3>
</div>
<div class="page">
  <div>
    <h4>{{ message }}</h4>
  </div>
  <div id="contactContainer">
    <div id="contactBox" *ngFor="let contact of contacts">
      <div class="contactCard">
        <div class="nameBox">
          <a href="">
            <h3 class="contactName">{{ contact.name }}</h3>
          </a>
        </div>

        <div class="infoBox">
          <p><i class="fas fa-phone-square"></i> Phone: {{ contact.phone }}</p>
        </div>

        <div class="infoBox">
          <p><i class="fas fa-envelope-open-text"></i> Email: {{ contact.email }}</p>
        </div>

        <div class="infoBox">
          <p><i class="fas fa-map-marker-alt"></i> Address: {{ contact.address }}</p>
        </div>

        <button class="deleteButton" (click)="deleteContact(contact.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
