<div class="page">
  <div>
    <h2>Your Contacts</h2>
    <h4>{{ message }}</h4>
  </div>
  <div id="contactContainer">
    <div id="contactBox" *ngFor="let contact of contacts">
      <div class="contactCard">
        <h3 class="contactName">{{ contact.name }}</h3>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email:{{ contact.email }}</p>
        <p>Address: {{ contact.address }}</p>
        <button (click)="deleteContact(contact.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
