#homeBox {
  width: 100%;
  #searchBarBox {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 1em 0em 1em 0em;
    input,
    label {
      display: block;
    }
    form {
      width: 60%;
      color: black;
    }
    input[type='text'] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      // background-color: white;
      background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 40px;
      border: 2px solid black;
      border-radius: 3px;
    }
  }
}
