#homeBox {
  width: 100%;
  #searchBarBox {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    input,
    label {
      display: block;
    }
    form {
      width: 60%;
      color: #20295b;
    }
    input[type='text'] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  }
}
