<div id="greetingBox">
  <h2 *ngIf="user.loggedIn" id="greeting">Welcome, {{ user.username }}</h2>
</div>

<div id="homeBox">
  <div id="searchBarBox">
    <form>
      <label id="searchLabel" for="search">Search for a contact:</label>
      <input
        type="text"
        name="search"
        (keyup)="sendSearch()"
        [(ngModel)]="inputObject.input"
        ng-model-options="{ debounce: 500 }"
      />
    </form>
  </div>

  <div id="displayMessage" *ngIf="inputObject.input === ''">
    <h2 id="message">
      <div class="animate">
        <i id="upArrow" class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <br />
      <br />
      Type into the search bar to find contacts!
    </h2>
  </div>
  <div id="contactContainer" *ngIf="inputObject.input !== ''">
    <div id="contactBox" *ngFor="let contact of contacts">
      <div class="contactCard">
        <div class="nameBox">
          <a href="">
            <h3 class="contactName">{{ contact.name }}</h3>
          </a>
        </div>

        <p><i class="fas fa-phone-square"></i> Phone: {{ contact.phone }}</p>
        <p><i class="fas fa-envelope-open-text"></i> Email: {{ contact.email }}</p>
        <p><i class="fas fa-map-marker-alt"></i> Address: {{ contact.address }}</p>
        <button class="deleteButton" (click)="deleteContact(contact.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
