/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // width: 100%;
  font-family: 'Shanti', sans-serif;
}

.page {
  margin: 15px;
  // width: 100%;
}
